@model Razr.Web.Models.HomeViewModel
<div class="container-fluid">
    <div class="row-fluid">
        <div id="sidebar" class="span2">
            <img src="@Url.Content("~/content/images/icon.png")" alt="" class="icon" />
            <h2>@ViewBag.Title</h2>
            <span>@ViewBag.Subtitle</span>
        </div>
        <div id="content" class="span10">
            <header>
                <span>@DateTime.Now.ToString("MMMM dd, yyyy").ToUpper()</span>
            </header>
            <section id="posts">
            @foreach (var post in Model.Posts)
            {
                <article>
                    <h2><a href="/post/@post.Id">@post.Title</a></h2>
                    <div class="subline">
                        <span class="date">@post.CreatedDate.ToString("MMMM dd, yyyy h:mm tt")</span>
                        <span class="tags">@RenderTags(post.Tags)</span>
                    </div>
                    @Html.Markdown(post.Body)
                </article>
            }
            </section>
        </div>
    </div>
</div>
@helper RenderTags(string tags){
    if(!string.IsNullOrEmpty(tags)){
        foreach(var tag in tags.Split(',')){
            <a class="label" href="?tag=@tag.Trim()">@tag.Trim()</a>
        }
    }
}