@model Razr.Web.Models.EditViewModel
<div id="editor">
    <form action="/post/@Model.Post.Id/edit" method="post" id="editForm">
    @Html.HiddenFor(x => x.Post.Id)
    @Html.HiddenFor(x => x.Post.Draft)
    @Html.TextBoxFor(x => x.Post.Title, new { placeholder = "Start typing a new idea here..." })
    @Html.TextBoxFor(x => x.Post.Tags, new { placeholder = "Enter comma separated list of tags" })
    @Html.TextAreaFor(x => x.Post.Body, 10, 20, new { placeholder = "Use markdown to write something interesting" })
    </form>
</div>
<div id="publish-bar">
    <div class="contain">
        <div class="float-left">
            <a class="admin-link" href="/admin">« Admin</a> 
        </div>
        <div class="float-right">
            <a class="delete-link" href="#" onclick="deletePost();return false;">Delete</a> 
            @if (Model.Post.Draft)
            {
            <a class="save-link" href="#" onclick="saveChanges('Draft has been saved.');return false;">Save Draft</a>
            <a class="preview-link" href="#" onclick="preview();return false;">Preview</a>
            <form action="/post/@Model.Post.Id/publish" method="post">
                <a class="publish-link" href="#" onclick="$(this).closest('form').submit();return false;">Publish</a>
            </form>
            }
            else
            {
            <a class="save-link" href="#" onclick="saveChanges('Changes have been saved.');return false;">Save Changes</a>
            <form action="/post/@Model.Post.Id/retract" method="post">
                <a class="publish-link" href="#" onclick="$(this).closest('form').submit();return false;">Retract</a>
            </form>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function preview() {
        saveChanges(function () {
            window.open('/post/@Model.Post.Id');
        });
    };
    function deletePost() {
        $.post('/post/@Model.Post.Id/delete', function () {
            window.location = '/admin';
        });
    };
    function saveChanges(callback) {
        $form = $('#editForm');
        $.post('/post/@Model.Post.Id/edit', $form.serialize(), function () {
            if (typeof callback === 'function')
                callback();
            else if (typeof callback === 'string')
                alert(callback);
        });
    };

</script>